$colors: (
  "green": #4da34c,
  "white": #fafafa,
  "blue": #005ccd
);
.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "head list"
    "baseplate list"
    "footer footer";
  padding: 0 1rem;
  min-height: 100vh;
}

// ----------------
//      HEADER
// ----------------
.App-header {
  display: flex;
  padding: 1rem 0;
  margin: 0 auto;
  min-width: 330px;

  grid-area: head;
}
.base-color-switch,
.palette {
  border: 1px solid #969696;
}
// BASEPLATE COLORS SWITCHER
.base-color-switch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 96px;
  margin: 0 1rem 0 0;
}
.label {
  display: block;
}
.base-col-radio {
  position: relative;
  &:hover {
    outline: 2px solid black;
    z-index: 1;
  }
}
.base-col-radio,
.label,
.label-img {
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.radio-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
// COLOR PALETTE
.palette {
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(8, 24px) 48px;
  grid-template-rows: repeat(4, 24px);
}
.color-box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.color-box.chosen,
.eraser.chosen {
  z-index: 1;
  border: 1px solid white;
  outline: 1px solid black;
}
.color-box:hover,
.color-box.chosen:hover {
  z-index: 2;
  outline: 4px solid white;
  border: 2px solid black;
}
.eraser {
  grid-row: 1 / span 4;
  grid-column: 9;

  background-color: #eef;
  background-image: url("./imgs/eraser.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
}

// ----------------
//   DETAILS LIST
// ----------------
.shopping-list {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem 0 1rem 1rem;
  width: 200px;
  grid-area: list;
}
.list-head {
  font-weight: 400;
  color: #1a0080;
  margin: 0 0 0.75rem;
  padding: 0;
}
.details-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.detail {
  margin: 0.25rem 0;
  & > .tile {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem 0 0;
  }
}

// ----------------
//     CANVAS
// ----------------
.baseplate {
  box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  width: 330px;
  height: 330px;
  grid-template-columns: repeat(32, 10px);
  grid-template-rows: repeat(32, 10px);
  border-width: 5px;
  border-style: solid;

  margin: 0 auto;
  outline: 1px solid rgba(0, 0, 0, 0.1);

  grid-area: baseplate;
}
.knob {
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100%;
}
@each $name, $color in $colors {
  .baseplate.#{$name} {
    background-color: $color;
    border-color: $color;
  }
  .baseplate.#{$name} .knob {
    background-color: $color;
    background-image: url("./imgs/#{$name}knob.svg");
  }
}
.tile {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
}
.baseplate .tile {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@for $i from 11 through 26 {
  @media screen and (min-width: $i * 33px + 232) and (max-width: $i * 33px + 264) {
    .App-header {
      width: $i * 33px;
    }
    .baseplate {
      width: $i * 33px;
      height: $i * 33px;
      grid-template-columns: repeat(32, $i * 1px);
      grid-template-rows: repeat(32, $i * 1px);
      border-width: floor($i / 2) * 1px;
    }
    .tile {
      width: $i - 2px;
      height: $i - 2px;
    }
  }
}
@for $i from 11 through 16 {
  @media screen and (min-width: $i * 33px + 32) and (max-width: $i * 33px + 64) {
    .App-header {
      width: $i * 33px;
    }
    .baseplate {
      width: $i * 33px;
      height: $i * 33px;
      grid-template-columns: repeat(32, $i * 1px);
      grid-template-rows: repeat(32, $i * 1px);
      border-width: floor($i / 2) * 1px;
    }
    .tile {
      width: $i - 2px;
      height: $i - 2px;
    }
    .shopping-list {
      width: $i * 33px;
    }
  }
}

// ----------------
//      FOOTER
// ----------------
.footer {
  grid-area: footer;
  align-self: end;
  margin: 1rem 0;
  text-align: center;
  font-weight: 200;
}
.git-link {
  color: rgb(21, 95, 255);
  text-decoration: none;
  background-image: linear-gradient(
    to bottom,
    rgb(21, 95, 255) 33%,
    transparent 33%,
    transparent
  );
  background-position: 0 1.03em;
  background-repeat: repeat-x;
  background-size: 2px 1px;

  &:hover {
    color: rgb(8, 64, 180);
    background-image: linear-gradient(
      to bottom,
      rgb(8, 64, 180) 50%,
      transparent 50%,
      transparent
    );
    background-size: 2px 2px;
  }
}

@media screen and (max-width: 592px) {
  .App {
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "baseplate"
      "list"
      "footer";
  }
  .shopping-list {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1122px) {
  .App-header {
    width: 858px;
  }
  .baseplate {
    width: 858px;
    height: 858px;
    grid-template-columns: repeat(32, 26px);
    grid-template-rows: repeat(32, 26px);
    border-width: 13px;
  }
  .tile {
    width: 24px;
    height: 24px;
  }
}
